/*Culori folosite
#FF8BD2 - roz
#5CE1E6 - albastru
#000000 - negru
#FFDE59 - oranj deschis
#FFBD59 - oranj inchis
*/
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header{
    background-color: #5CE1E6;
    height: 60px;
}

  .nav a {
    float: left;
    color: #180215;
    display: flex;
    padding: 19px;
    text-decoration: none;
    font-size: 19px;
  }
  header img{
    align-items:start;
    width: 60px;
    height: 60px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: normal;
}
/*pt miscarea mouse on*/
  .nav a:hover {
    background-color: #FF8BD2;
    color:#f2ff43 ;
  }
  /*cum arata curent*/
  .nav a.active {
    background-color: #531cad;
    color: white;
  }
  .nav a.active {
    background-color: #531cad;
    color: white;
  }
.btn{
    float: right;
    width: 100px;
    height: 40px;
    background: #FFBD59;
    border: 2px solid #FFBD59;
    margin-top: 13px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.srch{
    float: right;
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
   
}