/*Culori folosite
#FF8BD2 - roz
#5CE1E6 - albastru
#180215 - violet inchis
#FFDE59 - oranj deschis
#FFBD59 - oranj inchis
*/

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: #5CE1E6;
  justify-content: space-between;
  text-align: center;

}

nav a {
  color: #180215;
  text-decoration: none;
  font-size: 19px;
  height: 60px;
  background-image: url(photo/news.png);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 4em;
  padding-top: 1em;
  width: 100%;
}

nav a#nav-home {
  background-image: none;
  text-align: center;
  padding: 0;
  padding-top: 1em;
  min-width: 12em;
}

nav a#nav-news {
  background-image: url(photo/news.png);
  background-position: left;
}

nav a#nav-education {
  background-image: url(photo/education.png);
}

nav a#nav-news {
  background-image: url(photo/news.png);
}

nav a#nav-solving {
  background-image: url(photo/solving.png);
}

nav a#nav-expert {
  background-image: url(photo/expert.png);
}

nav a#nav-account {
  width: 64px;
  background-color: #5CE1E6;
  padding: 0;
  margin: 0;
}

nav a#nav-account img {
  height: 100%;
}

.body .mainpage {
  background-color: white;
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}

/*pt miscarea mouse pe bara de navigare*/
nav a:hover {
  background-color: #FF8BD2;
  color: #f2ff43;
  height: 60px;
  font-weight: 1000;
}

/*cum arata curent what the math*/
nav a.active {
  background-color: #531cad;
  color: white;
}

/*https://www.w3schools.com/howto/howto_css_searchbar.asp bara de navigre*/
/*css tilul pt serarch*/
nav input[type=text] {
  padding: 0;
  border: 1 solid black;
  margin-top: 20px;
  margin-right: 16px;
  width: 100%;
  height: 100%;
  font-size: 17px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

.bgvideo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.video {
  width: 100%;
  overflow: hidden;
  height: 650px;
  position: relative;
  top: 0;
  left: 0;
}

.video video {
  object-fit: fill;
  z-index: -100;
}

.welcome {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.welcome a {
  text-decoration: none;
}

.welcome .subtitle {
  margin-top: 80px;
  font-family: Nosifer;
  font-size: 50px;
  background: -webkit-linear-gradient(#FF8BD2, #5CE1E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome .title {
  font-family: Nosifer;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f3ec78;
  background: -webkit-linear-gradient(#FF8BD2, #5CE1E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.learnmore {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  background-color: #9b59b6;
  border: 3px solid #620e93;
  color: #f2ff43;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.learnmore a:hover {
  background-color: #FF8BD2;
}

.button .main {
  border: none;
  outline: 0;
  display: inline-block;
  color: #f2ff43;
  background-color: #FF8BD2;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8BD2;
  color: #180215;
  text-align: center;
  text-transform: uppercase;

}

#footer p {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

#footer a {
  color: #180215;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
  background-color: #FFDE59;
  color: #180215;
}

/*style about us*/

.about .team .img {
  width: 100%;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  min-height: 105vh;
  width: 100%;
}

.about h2 {
  padding-top: 20px;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, italic;
}

.about h1 {
  font-size: 40px;
}

.about p {
  font-size: 24px;
  width: 80%;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10%;
  margin-right: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #f2ff43;
  background-color: #FF8BD2;
  text-align: center;
  cursor: pointer;
  font-size: medium;
}
.button-solving{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  width: 100%;
  color: #f2ff43;
  background-color: #FF8BD2;
  text-align: center;
  cursor: pointer;
  font-size: medium;
}

.button:hover {
  background-color: #5CE1E6;
}

/*sfarsit about us*/

/*Stil pt inregistrare https://www.youtube.com/watch?v=okbByPWS1Xc&list=PLImJ3umGjxdDqTlZhQxXBeGij9Oa9Xjnj*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.bodyaccount {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.containeraccount {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
}

.containeraccount .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.containeraccount .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .buttonnews {
  height: 45px;
  margin: 35px 0
}

form .buttonnews input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #000;
  background-color: #5CE1E6;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*sfarsit inregistrare*/

/*stil news*/
.news {
  width: 100%;
  display: inline-block;
  justify-content: space-around;
}

.news .news-section {
  margin: 0 0;
}

.description-news {
  margin-bottom: 50px;
  font-size: 28px;
  color: #531cad;
  text-align: center;
}

.news-section h4 {
  width: 60%;
  text-align: center;
  margin: auto;
}

.news-section h1 {
  font-size: 40px;
  color: #531cad;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
}

.news-section p {
  font-size: 30px;
  color: #531cad;
  text-align: center;
}

.date p {
  font-size: 20px;
  color: #531cad;
  text-align: center;
}

.bucati {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 25px 25px;
  margin-bottom: 100px;
}

.bucati .buc {
  width: 100%;
  position: relative;
}

.buc .date {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  padding: 6px 15px;

}

.img-section img {
  width: 100%;
  height: auto;
}

.content {
  padding: 15px 20px;
}

.content h4 {
  font-size: 24px;
  color: #531cad;
  font-weight: bold;
}

.content p {
  color: #180215;
  font-size: 20px;
}

.content a {
  text-decoration: none;
  color: #531cad;
}

.content b {
  text-decoration: underline;
  color: #000;
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }

  #main {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .row-1 {
    flex-direction: column;
  }

  .row-2 {
    flex-direction: column;
  }

  .row-3 {
    flex-direction: column;
  }

  .row-4 {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .bucati {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-math-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-expert {
    grid-template-columns: repeat(2, 1fr);
  }
 
}

@media screen and (max-width: 768px) {
  .bucati {
    grid-template-columns: 1fr;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .container-math-1 {
    grid-template-columns: 1fr;
  }

  .row-1 {
    flex-direction: column;
  }
  .row-expert {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 584px) {
  .containeraccount {
    max-width: 100%;
  }

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media screen and (max-width: 459px) {
  .containeraccount .content .category {
    flex-direction: column;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .bgvideo {
    height: auto;
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  .bgvideo {
    width: auto;
  }
}

.container {
  margin: auto 0;
  min-height: 100vh;
  padding: 0 0;
  width: 100%;
}

.container .row-1 {
  margin-top: 35px;
  display: flex;
  justify-content: stretch;
  width: 100%;
  background-color: #fff;
}

.container .row-2 {
  display: flex;
  justify-content: stretch;
  width: 100%;
  background-color: #FF8BD2;
}

.container .row-3 {
  display: flex;
  justify-content: stretch;
  width: 100%;
  background-color: #5CE1E6;
}

.container .row-4 {
  display: flex;
  justify-content: stretch;
  width: 100%;
  background-color: #f2ff43;
  margin-bottom: 50px;
}

.container .col {
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
}

.col h1 {
  margin: auto;
  width: 80%;
  font-size: 52px;
  text-align: center;
  font-family: cursive;
}

.col p {
  width: 80%;
  font-size: 22px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.col img {
  margin-top: 30px;
  display: block;
  margin: auto;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #000;
  width: 20%;
}

.video-main-section {
  width: 80%;
  margin-top: 80px;
  margin-left: 60px;
  border-radius: 100px;
}

.col .button-section {
  border: 2px solid #000;
  color: #180215;
  text-align: center;
  cursor: pointer;
  font-size: medium;
  text-decoration: none;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-math {
  display: block;
  margin: auto 0;
  text-align: center;
  padding: 0 0;
  width: 100%;
  margin-bottom: 30px;
}

.row-math-1 {
  display: flex;
  justify-content: center;
}

.row-math h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
  font-size: 100px;
  color: #620e93;
  text-align: center;
  margin: 20px;
}

.row-math-1 h2 {
  display: flex;
  justify-content: center;
  width: 700px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: #531cad;
  text-align: center;
  margin: 15px;
}

.container-math img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 120px;
  width: 30%;
}

.video-math {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  max-height: 500px;
}

.welcome .math-logo {
  font-weight: 800;
  font-size: 87px;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.header-math {
  align-items: center;
  margin: auto auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
}

.welcome h3 {
  padding-top: 30px;
  font-weight: 800;
  font-size: 40px;
  color: white;
  text-align: center;
}

.container-math-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 70px;
}

.block {
  padding: 30px 30px;
  margin: 0 0;
}

.container-math-1 h1 {
  font-style: italic;
  font-weight: 70px;
  font-size: 30px;
  color: #531cad;
  text-align: center;
  border-left: 6px solid #FF8BD2;
  padding-left: 10px;
  padding-bottom: 10px;
}

.container-math-1 p {
  font-style: bold;
  font-weight: 50px;
  font-size: 20px;
  color: #9b59b6;
  text-align: center;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.container-solving h1 {
  text-align: center;
  color: #531cad;
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #5CE1E6;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}


.row-expert {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 25px;
}

.col-expert img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col-expert .content{
  min-height: 250px;
}

.expert h1 {
  font-style: italic;
  font-weight: 70px;
  font-size: 30px;
  color: #531cad;
  text-align: center;
  margin-top: 20px;
}

.expert h4 {
  font-style: italic;
  font-weight: 20px;
  font-size: 30px;
  color: #531cad;
  text-align: center;
  margin-top: 20px;
}

.expert p {
  font-size: 20px;
  color: #620e93;
  text-align: center;
}

.expert h2 {
  font-size: 25px;
  color: black;
  text-align: center;
}

.button-contact {
  display: inline-block;
  width: 100%;
  color: #f2ff43;
  background-color: #FF8BD2;
  text-align: center;
  cursor: pointer;
  padding: 12px;
}

.button-contact:hover {
  background-color: #5CE1E6;
}

.expert {
  padding-bottom: 0px;
}

.container-solving {
  padding-top: 30px;
  min-height: 80vh;
}

.expert {
  min-height: 200vh;
  width: 100%;
}