/*Culori folosite
#FF8BD2 - roz
#5CE1E6 - albastru
#180215 - violet inchis
#FFDE59 - oranj deschis
#FFBD59 - oranj inchis
*/
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header{
    background-color: #5CE1E6;
    height: 60px;
  }
  body{
  background-color: white;
  font-family: "Lato", sans-serif;
  }
  .nav a {
    float: left;
    color: #180215;
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    height: 60px;
  }
  header img{
    align-items:start;
    padding: 0;
    width: 60px;
    height: 60px;
  }
  
  .nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  .nav a{
    padding-top: 20px;
  }
  /*pt miscarea mouse pe bara de navigare*/
  .nav a:hover {
    background-color: #FF8BD2;
    color:#f2ff43 ;
    height: 60px;
  }
  
  /*cum arata curent what the math*/
  .nav a.active {
    background-color: #531cad;
    color: white;
  }
  /*cstilul pt search*/
  .nav input[type=text] {
    float: right;
    padding: 5px;
    border: 1 solid black;
    margin-top: 16px;
    margin-right: 16px;
    width: 600px;
    font-size: 17px;
  }
    /*https://www.w3schools.com/howto/howto_css_searchbar.asp bara de navigre*/
    /*css tilul pt serarch*/
    .nav input[type=text] {
      float: right;
      padding: 0px;
      border: 1 solid black;
      margin-top: 16px;
      margin-right: 16px;
      width: 600px;
      font-size: 17px;
    }
  
  h1{
    font-size: 64px;
    font-family: 'Nosifer';
    text-align: center;
  }
  h2{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  p{
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: medium;
  }
  
  .button:hover {
    background-color: #5CE1E6;
  }
  /*https://www.w3schools.com/howto/howto_css_fixed_footer.asp footer fixat*/
  #footer
{ position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8BD2;
  color:#180215;
  text-align: center;
  text-transform: uppercase;
}
  #footer p
  { padding: 30px;
    font-size: 18px;
  }

  #footer a
  { color: #180215;
    text-decoration: none;}
  
  #footer a:hover
  { text-decoration: underline;
    background-color: #FFDE59;
    color:#180215 ;
  }